<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="StyleSheet" href="/styles/styles.css">
    <link rel="icon" href="/images/ice-cream-favicon.png">
    <title>Order Placed</title>
</head>
<body>
    <Header>
        <h1>Thank You For Your Order</h1>
        <span>Your ice cream order has been confirmed</span>
    </Header>
    <main>
        <h2>Personal Information</h2>
        <div id="pi-name">
            <span >Name:</span>
            <span ><%= order.Customer %></span>
        </div>
        <div id="pi-email">
            <span >Email:</span>
            <span ><%= order.Email %></span>
        </div>

        <h2>Order Details</h2>
        <div id="pi-flavor">
            <span>Flavor:</span>
            <span ><%= order.Flavor %></span>
        </div>
        <div id="pi-cone">
            <span>Cone:</span>
            <span ><%= order.Cone %></span>
        </div>
        <div id="pi-toppings">
            <span>Toppings:</span>
            <!-- this makes sure that toppings exist-->
                <span>
                    <% if(order.Toppings) { %>

                    <% order.Toppings.forEach(t =>{ %>
                    <span id="pi-topping-bubble"><%= t %></span>
                    <% })
                    
                    } else { %>
                        <span id="pi-topping-bubble">none</span>
                    <% }%>
                </span>
            </span>
        </div>
        
        <h2>Additional Comments</h2>
        <div id="pi-comments">
            <p>
                <%= order.AdditionalComments %>
            </p>
        </div>

        <nav id="pi-nav-btns">

            <button>Print Order</button>
            <a href="/">
                <button type="button" id="place-another-order-btn">Place Another Order</button>
            </a>
        </nav>
    </main>
</body>
</html>